body {
	background-color: #f4f4f4;
}

#principal {
	width: 920px;
}

.noticia {
	background-color: #e5e5e5;
	padding: 5px;
	width: 280px;
	margin: 7px;
	float: 	left;
}

.clear {
	clear: both;
}

.imagem-galeria {
	background-color: white;
	width: 265px;
	padding: 5px;
	float: left;
	margin: 15px;
}